@charset "utf-8";
/* CSS Document */



section, footer, header, aside, nav, article{
	
	display:block;
}


.limpiar{
	clear:both;
}

body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	
}


h1{
	font-size: 45px;
font-weight: 300;
line-height: 50px;
}

h2{
	font-size: 25px;
font-weight: 500;
line-height: 35px;
}

h3{
	font-size: 15px;
font-weight: 500;
line-height: 20px;
}


p{
	font-size: 15px;
font-weight: 400;
line-height: 20px;
}

ul, li{
	margin:0;
	padding:0;
}

*{
	margin:0;
	padding:0;
	
}


/*cabecera*/





.logo-prin{
	float:left;
	padding: 10px 0 0 10%;
	
}


.navegacion{
	float:left;
	margin-left:10%;
	
	
}


.navegacion ul{
	list-style:none;
	
}

.navegacion ul li{
	
	float:left;
	padding:0px 40px 0px 40px;
	
	 -webkit-transition: all 0.5s ease;
         -moz-transition: all 0.5s ease;
           -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
              transition: all 0.5s ease;
	
	

	
	
}
/*cabecera fix*/


.header-jp {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    color:#fff;
    z-index: 1000;
    height: 150px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:160px;

}
.header-jp.shrink {
	border-bottom: 0px solid rgba(255, 255, 255, 0.15);
    height: 80px;
    line-height:80px;
    background: #292c47;
}
.header-jp h1
{
    font-size:15px;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header-jp.shrink h1
{
    font-size:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.header-jp.shrink .navegacion{
	float:left;
	margin-left:10%;
	padding-top: 10px;
	
}

/**/

.navegacion ul li:hover{
	
}

.navegacion ul li a{
	color: rgba(255, 255, 255, 0.75);
font-size: 15px;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
text-decoration:none;
}


.banner-prin{
	
	background:url(images/banner-prin.jpg) 50% 0% fixed;
	background-size:cover;
	padding:0 0 25px 0;
	position: relative;
	
	
}


.banner-prin-wrapper{
	
	min-height:150px;
	margin: 0 auto;
	width:100%;
	max-width:1200px;
	position:relative;
	padding:13%  25px 0 25px; 
	
}

.titulo-banner{
	
	width:32%;
	
	float: left;
	
}

.titulo-banner h1{
	color: white;
	font-size: 45px;
	line-height: 55px;
	font-weight: 700;
	margin-bottom: 25px;
	
}

.titulo-banner p{
	font-size: 25px;
font-weight: 400;
line-height: 35px;
color: white;

	
}

.titulo-banner a{
		display: block;
	width: 70%;
	
	 color: #f5812b;
font-size: 15px;
font-weight: 500;
line-height: 25px;
text-transform: uppercase;
    padding:15px 10px;
    text-decoration:none;
  -webkit-transition: all 0.5s ease;
         -moz-transition: all 0.5s ease;
           -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
              transition: all 0.5s ease;
     background-color:rgba(245,129,43,0.0);
    border: 1px solid rgba(245,129,43,1);
    margin: 10px 5px;
    text-align: center;
}




.titulo-banner a:hover{
	 background-color:rgba(245,129,43,1);
      border: 1px solid rgba(245,129,43,0);
	  color:#FFF;

	}

	.mapa{
	float:left;
	width:65%;
	margin-left:25px;
	
	
}

.mapa img{
	display:block;
	width:100%;
	
}



.boton-down{
	max-width:75px;
	margin:20px auto 15px auto;
	
	  border-radius: 50%;
  background:rgba(0,0,0,0);
  padding:0 0 30px 0;
   -webkit-transition: all 0.5s ease;
         -moz-transition: all 1s ease;
           -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
              transition: all 1s ease;
	
}

.boton-down img{
	display:block;
	
padding:30px 0 0 25px;
	
}

.boton-down:hover{
	background:rgba(0,0,0,0.5);
	
}




/*cuerpo*/


/*intro*/


#intro{
	background-color: #003e56;

}

.intro-wrapper{
	max-width:1100px;
	margin:0 auto;
	padding:10% 0 10% 0;
}

.spacer{
	padding-top: 50%;
}



.intro-text h1{
	font-size: 55px;
	font-weight: 300;
	line-height: 57px;
	text-align: center;

}



.intro-text h1{
	color: #f5812b;
	text-align:center;
	margin-bottom:7%;

}

.intro-text p{
	color: #fefefe;
	text-align:left;
	margin-bottom:30px;
}

.resalte{
	color: white;
	font-size: 30px;
	line-height: 45px;
	font-weight: 300;
	margin-bottom: 25px;
	float: left;
	width: 50%;

}


.parrafoflotante{
	float: left;
	width: 40%;
	margin-left: 30px;
}






/*servicios*/


#servicios{
	
	padding:0 0 0% 0;
}




.servicios-wrapper h1{
	color: #f5812b;
font-size: 55px;
font-weight: 300;
line-height: 35px;
text-align:center;
margin-bottom:50px;
	
}



.modulo-serv h2{
	color: #333;
font-size: 30px;
font-weight: 500;
line-height: 35px;
margin-bottom: 25px;
}

.modulo-serv p{
	color: #9d9a9a;
font-size: 15px;
font-weight: 500;
line-height: 25px;
margin-bottom:25px;
	
}

.modulo-serv button{
	 color: #f5812b;
font-size: 15px;
font-weight: 500;
line-height: 25px;
text-transform: uppercase;
    padding:8px 10px;
    text-decoration:none;
  -webkit-transition: all 0.5s ease;
         -moz-transition: all 0.5s ease;
           -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
              transition: all 0.5s ease;
     background-color:rgba(245,129,43,0.0);
    border: 1px solid rgba(245,129,43,1);
    cursor: pointer;
}

.modulo-serv button:hover{
	   background-color:rgba(245,129,43,1);
      border: 1px solid rgba(245,129,43,0);
	  color:#FFF;
}



.cont-avatar, .cont-text-serv{
	float: left;
	width: 50%;

}

.cont-avatar{
	background: #000;

}

.avatar img{
	width: 100%;
	display: block;
}

.text-serv{
	padding: 16% 20% 9% 15%; 
}


/* Estilos Modals*/

.cont-modal-bg{
	padding: 50px 35px;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

/*contenido modals*/

.modal-title{
	color: #f5812b;
}

.modal-inner h1{
	color: #333;
	margin-bottom: 15px;
	border-top: 5px solid #f4f4f4;
	padding-top: 25px;
}

.modal-inner h2{
	color: #f5812b;
}

.modal-inner p{
	color: #9d9a9a;
font-size: 15px;
font-weight: 500;
line-height: 25px;
margin-bottom:25px;

}

.modal-inner ul{
	list-style: none;
}

.modal-inner ul li{
		color: #9d9a9a;
font-size: 15px;
font-weight: 500;
padding: 5px 10px 10px 20px ;	
background: url(images/vignet.png) no-repeat;
background-position: 2px 10px;

	}

	.modal-inner ul  ul li{
		background: url(images/vignet-inn.png) no-repeat;
background-position: 25px 10px;
padding: 5px 10px 10px 50px; 

	}

.modal-inner ul ul{
	list-style: none;
	padding: 5px 0;
}

.wrap-imagen-full{
	max-width: 70%;
	margin: 70px auto;
}

.wrap-imagen-full img{
	width: 100%;
	height: auto;
}

.grafico2a img, .grafico2b img {
	width: 100%;
	height: auto;
}

.grafico2c img{
	width: 80%;
	height: auto;

}

.grafico2a {
	display: inline-block;
	width: 48%;
	margin-right: 50px;
}

.grafico2b {
	display: inline-block;
	width: 40%;
}


.grafico2c{
	width: 70%;
	margin: 70px auto;
}


.columna-izq-mod{
	float: left;
	width: 40%;
	margin-right: 50px;


}

.columna-der-mod{
	float: left;
	width: 40%;
	


}

.cont-credit-strategy{
	margin: 25px 0;
}

.wrap-grafico3a{
	width: 47%;
	margin: 50px auto;
}

.wrap-grafico3a img{
	width: 100%;
	height: auto;
}

.grafico4a{
	max-width: 50%;
	margin: 50px auto;
}

.grafico4a img{
	width: 100%;
	height: auto;
}

.columna-flot-mod{
	float: left;
	margin: 0 25px;
	width: 25%;
}
/*key*/

#key{
	padding:10% 0 50px 0;
	
}

.key-wrapper{
	max-width:1100px;
	margin:30px auto;
	
}

.key-wrapper h1{
	color: #f5812b;
font-size: 55px;
font-weight: 300;
line-height: 35px;
margin-bottom:100px;
text-align:center;
}

.cont-flot{
	float:left;
	margin:10px 15px;
	width:26%;
	height:350px;
	background:rgba(244,244,244,0);
	  -webkit-transition: all 0.5s ease;
         -moz-transition: all 0.5s ease;
           -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
              transition: all 0.5s ease;
			  padding:35px 25px;
			  border-radius:5px;
	
}

.cont-flot:hover{
	background:rgba(244,244,244,1);
}

.cont-flot img{
	display:block;
	margin:15px auto 30px auto;
	
}

.cont-flot h2{
	color: #333;
font-size: 20px;
font-weight: 500;
line-height: 35px;
text-align:center;
margin-bottom:15px;
margin-top: 0;
}

.cont-flot p{
	color: #9d9a9a;
font-size: 15px;
font-weight: 500;
line-height: 20px;
text-align:center;
	
}


/*human*/

#human{
	background-color: #f4f4f4;
	padding:12% 0 5% 0;
}

.human-wrapper{
	max-width:1100px;
	margin:0 auto;
}

.human-wrapper h1{
	color: #f5812b;
font-size: 55px;
font-weight: 300;
line-height: 35px;
margin-bottom:0px;
text-align:center;
}


.cont-human{
	margin: 80px 0 0 0;
}
.cont-persona{
	float: left;
	width: 22%;
	margin: 0 15px;
}


.cont-persona h1{
	font-size: 25px;
	font-weight: 300;
	text-align: left;
	line-height: 35px;
	color: #292c47;
}

.cargo{
	color: #f5812b !important;
	text-transform: uppercase;
}

.av-persona{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #CCC;
}


.av-persona img{
	width: 100%;
	height: auto;
}

.cont-persona p{
	color: #9d9a9a;
font-size: 15px;
font-weight: 500;
line-height: 25px;
margin-bottom:25px;


}

.fila-sep{
	margin: 4% 0;
}


.av-persona img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.av-persona img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

/*reference*/

/*carrousel image*/


#cf {
  position:relative;
  height:auto;
  width:100%;
  
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

#reference{
	background: #003e56;

	
	
}

.imagen-reference-carrousel{
	float: left;
	width: 50%;
}

.imagen-reference-carrousel img{
	display: block;
	width: 100%;
}

.cont-text-ref{

	float: left;
	width: 39%;
	padding: 2% 5% 5% 5%;

}

.cont-text-ref nav{
	margin-bottom: 22px;
}


.cont-text-ref h2{
	font-size: 30px;
	color: #fff;
	line-height: 45px;
	font-weight: 400;
	font-style: italic;


}
#first-tab{
	padding-top: 40px;

}
#second-tab ul{
	list-style: none;
}



#second-tab ul li{
	color: white;
font-size: 15px;
font-weight: 500;
line-height: 25px;
padding:0 0 9px 20px;
background:url(images/circuloblanco.png) no-repeat;
background-position:0 9px;
}





/*piepagina*/

.piepagina{
	background-color: white;
box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

.piepagina-wrapper{
	max-width:165px;
	margin:0 auto;
	padding:50px 0;
}

.flot-soc{
	float:left;
	margin:0 25px;
	width:3%;	
}